# Module 4

## 1.Load dataset

In [147]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction import DictVectorizer

In [148]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

## 2.EDA

In [149]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [150]:
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')

In [151]:
df.isnull().sum()

customerid           0
gender               0
seniorcitizen        0
partner              0
dependents           0
tenure               0
phoneservice         0
multiplelines        0
internetservice      0
onlinesecurity       0
onlinebackup         0
deviceprotection     0
techsupport          0
streamingtv          0
streamingmovies      0
contract             0
paperlessbilling     0
paymentmethod        0
monthlycharges       0
totalcharges        11
churn                0
dtype: int64

In [152]:
categorical = list(df.dtypes[df.dtypes == 'object'].index)
numerical   =list(df.dtypes[df.dtypes != 'object'].index)

In [153]:
categorical.remove('customerid')

In [154]:
df[categorical].describe()

       gender partner dependents  ... paperlessbilling     paymentmethod churn
count    7043    7043       7043  ...             7043              7043  7043
unique      2       2          2  ...                2                 4     2
top      Male      No         No  ...              Yes  Electronic check    No
freq     3555    3641       4933  ...             4171              2365  5174

[4 rows x 16 columns]

In [155]:
for col in categorical:
    df[col] = df[col].str.lower().str.replace(' ','_')

In [156]:
df['churn'] = df['churn'] == 'yes'

In [157]:
df.churn= df['churn'].astype(int)

In [158]:
df.head()

   customerid  gender  seniorcitizen  ... monthlycharges totalcharges  churn
0  7590-VHVEG  female              0  ...          29.85        29.85      0
1  5575-GNVDE    male              0  ...          56.95      1889.50      0
2  3668-QPYBK    male              0  ...          53.85       108.15      1
3  7795-CFOCW    male              0  ...          42.30      1840.75      0
4  9237-HQITU  female              0  ...          70.70       151.65      1

[5 rows x 21 columns]

## 3.split the dataset

In [159]:
from sklearn.model_selection import train_test_split

In [160]:
full_train , test_set = train_test_split(df, test_size=0.2 , random_state=1)
train_set , val_set = train_test_split(full_train, test_size=0.25 , random_state=1)
len(train_set),len(val_set),len(test_set)

(4225, 1409, 1409)

In [161]:
train_set = train_set.reset_index(drop=True)
val_set   = val_set.reset_index(drop=True)
test_set  = test_set.reset_index(drop=True)

In [162]:
y_train = train_set['churn'].values
y_val   = val_set['churn'].values
y_test  = test_set['churn'].values

In [163]:
del train_set['churn']
del val_set['churn']
del test_set['churn']

## 4.train the model

In [164]:
dv = DictVectorizer(sparse=False)